{% extends 'HWIOAuthBundle::layout.html.twig' %}

{% block hwi_oauth_content %}
    {% if error is defined and error %}
        <span>{{ error }}</span>
    {% endif %}
    {% for owner in hwi_oauth_resource_owners() %}
    <center>
    <a class="btn btn-block btn-social btn-google-plus" style="width:50%" href="{{ hwi_oauth_login_url(owner) }}">
        <i class="fa fa-google-plus"></i> <center>Sign in with Google</center>
    </a><br />
    </center>
    {% endfor %}
{% endblock hwi_oauth_content %} 