<html>
    <head>
        <title>{% block title %}EZBills{% endblock %}</title>
    
        {% stylesheets '@bootstrap_css' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}
        
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('/bundles/ezbills/css/dashboard.css') }}"/>
        {% endblock %}
        
        {% block favicon %}
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('/bundles/ezbills/favicon/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('/bundles/ezbills/favicon/apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('/bundles/ezbills/favicon/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('/bundles/ezbills/favicon/apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('/bundles/ezbills/favicon/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('/bundles/ezbills/favicon/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('/bundles/ezbills/favicon/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('/bundles/ezbills/favicon/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('/bundles/ezbills/favicon/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('/bundles/ezbills/favicon/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('/bundles/ezbills/favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('/bundles/ezbills/favicon/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('/bundles/ezbills/favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('/bundles/ezbills/favicon/manifest.json') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ asset('/bundles/ezbills/favicon/ms-icon-144x144.png') }}">
        <meta name="theme-color" content="#ffffff">
        {% endblock %}
    </head>
    
    <body>
        {% javascripts '@jquery' '@bootstrap_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('_index') }}" style="font-size:125%;"><img src="{{ asset('/bundles/ezbills/images/ezbills.png') }}" style="width:35px;" align="left" />EZBills</a>
                </div>
                <div id="navbar" class="navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                <img src="{{ app.security.getToken().getUser().avatar }}" class="img img-circle img-thumbnail img-responsive" style="width:45px; margin-right:10px;" />{{ app.security.getToken().getUser().realname }} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu" style="width:100%;">
                                <li><a href="#">{{ app.security.getToken().getUser().realname }}</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Settings</a></li>
                                <li><a href="{{ path('logout') }}">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar" style="margin-top:10px;">
                        <li>
                            <div class="input-group" style="margin: 0% 3% 3% 3%">
                            <input type="text" class="form-control" placeholder="Search..." />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                            </div>
                        </li>
                        <li class="{% block selected_overview %}{% endblock %}"><a href="{{ path('_index') }}">Overview <span class="sr-only">(current)</span></a></li>
                        <li class="{% block selected_bills %}{% endblock %}"><a href="{{ path('_bills') }}">Bills</a></li>
                        
                    </ul>
                    <ul class="nav nav-sidebar">
                        <li><a href="">Analytics</a></li>
                        <li><a href="#">Help and API Docs</a></li>
                    </ul>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="margin-top:26px;">
                    <h1 class="page-header">{% block header %}Overview{% endblock %}</h1>
                    
                    {% block alerts %}
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div class="alert alert-success alert-dismissable" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" >×</button>
                            <strong>Success!</strong> {{ flashMessage }}
                        </div>
                    {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('error') %}
                        <div class="alert alert-danger" role="alert">
                            <strong>Error!</strong> {{ flashMessage }}
                        </div>
                    {% endfor %}
                    {% endblock %}
                    
                    {% block content %}
                    <div class="jumbotron">
                        No content.
                    </div>
                    {% endblock %}
                    
                </div>
            </div>
        </div>
    </body>
</html>