{% extends 'EZBillsBundle:Base:base.html.twig' %}

{% block title %}EZBills: Overview{% endblock %}
{% block selected_overview %}active{% endblock %}

{% block content %}
    <a href="{{ path('_gmailparser_readandparse') }}"><button type="button" class="btn btn-success">Process Bills in Gmail</button></a>
{% endblock %}
