{% extends 'EZBillsBundle:Base:base.html.twig' %}

{% block title %}EZBills: Bills{% endblock %}
{% block selected_bills %}active{% endblock %}
{% block header %}Bills <a href="#"><button class="btn btn-info btn-xs" type="button" data-toggle="modal" data-target="#manualAdd">+ Manually Add Bill</button></a>{% endblock %}

{% block content %}
<!-- Modal -->
<div class="modal fade" id="manualAdd" tabindex="-1" role="dialog" aria-labelledby="manualAddLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="manualAddLabel">Manually Add a Bill</h4>
      </div>
      {{ form_start(form) }}
      <div class="modal-body">
        {% form_theme form with ['bootstrap_3_layout.html.twig'] %} 
        {{ form_widget(form) }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Add Bill</button>
      </div>
      {{ form_end(form) }}
    </div>
  </div>
</div>

<!-- Content -->
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {% if bills|length == 0 %}
        <div class="well">No Bills</div>
    {% endif %}
    <h3>Unpaid Bills</h3>
    {% set first = false %}
    {% for bill in bills if bill.status < 2 %}
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="heading{{ bill.id }}" data-toggle="collapse" data-target="#collapse{{ bill.id }}">
                <h4 class="panel-title">
                    {{ bill.account.service.provider.name }} {{ bill.due|date("(F d)") }} {% if bill.status == 2 %}<span class="badge">PAID</span>{% endif %} {% if date(bill.due) < date('now') %} <span class="badge" style="background-color:red; color:black">OVERDUE</span> {% endif %}
                    <div style="float:right"><span title="Edit Bill" class="glyphicon glyphicon-pencil"></span> <a href="{{ path("_bills_delete", {'id': bill.id}) }}" style="color:red"><span title="Delete Bill" class="glyphicon glyphicon-trash"></span></a></div>
                </h4>
            </div>
            <div id="collapse{{ bill.id }}" class="panel-collapse collapse {% if not first %}in{% endif %}" role="tabpanel" aria-labelledby="heading{{ bill.id }}">
                <div class="panel-body" style="font-size: 15px">
                    <div class="row">
                        <div class="col-md-4">
                            <strong>Service</strong>: {{ bill.account.service.name }}<br><br><br>
                            <strong>Service Provider</strong>: {{ bill.account.service.provider.name }}<br><br><br>
                            <strong>Service Unique ID</strong>: {{ bill.account.uniqueId }}
                        </div>
                        <div class="col-md-4" style="margin-top:1%;">
                            {% if bill.status == 2 %}<img src="{{ asset('/bundles/ezbills/images/paid.png') }}" style="opacity: 0.4; width: 35%; margin-left:30%; position: absolute; z-index: 0;" />{% endif %}
                            <center>
                                <span class="badge" align="center" style="font-size:24px;">Past Bill Amount: ${{ bill.amount }}</span><br><br>
                                <span class="badge" align="center" style="font-size:24px;">Amount: ${{ bill.amount }}</span><br>
                                {% if bill.details %}<br><strong>Note</strong>: {{ bill.details }}{% endif %}
                            </center>
                        </div>
                        <div class="col-md-4">
                            <div style="float:right;">
                                <div style="text-align:right;">
                                    Received Date: <a href="#">{{ bill.created|date("F d Y") }}</a><br>
                                    Due Date: <a href="#">{{ bill.due|date("F d Y") }}</a><br>
                                </div>
                                <br>
                                {% if bill.status < 2 %}
                                <center>
                                    <a href="http://{{ bill.account.service.provider.loginUrl }}" target="_new"><button type="button" class="btn btn-primary" style="margin: 5px; width:150px;"><span class="glyphicon glyphicon-piggy-bank"></span> Make Payment</button></a><br>
                                    <a href="{{ path('_bills_pay', { 'id': bill.id } ) }}"><button type="button" class="btn btn-success" style="margin: 5px; width:150px;"><span class="glyphicon glyphicon-ok-circle"></span> Mark as Paid</button></a>
                                </center>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% set first = true %}
    {% endfor %}
</div>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <h3>Paid/Historical Bills</h3>
    {% set first = false %}
    {% for bill in bills if bill.status == 2 %}
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="heading{{ bill.id }}" data-toggle="collapse" data-target="#collapse{{ bill.id }}">
                <h4 class="panel-title">
                    {{ bill.account.service.provider.name }} {{ bill.due|date("(F d)") }} {% if bill.status == 2 %}<span class="badge">PAID</span>{% endif %} {% if date(bill.due) < date('now') %} <span class="badge" style="background-color:red; color:black">OVERDUE</span> {% endif %}
                    <div style="float:right"><span title="Edit Bill" class="glyphicon glyphicon-pencil"></span> <a href="{{ path("_bills_delete", {'id': bill.id}) }}" style="color:red"><span title="Delete Bill" class="glyphicon glyphicon-trash"></span></a></div>
                </h4>
            </div>
            <div id="collapse{{ bill.id }}" class="panel-collapse collapse {% if not first %}in{% endif %}" role="tabpanel" aria-labelledby="heading{{ bill.id }}">
                <div class="panel-body" style="font-size: 15px">
                    <div class="row">
                        <div class="col-md-4">
                            <strong>Service</strong>: {{ bill.account.service.name }}<br><br><br>
                            <strong>Service Provider</strong>: {{ bill.account.service.provider.name }}<br><br><br>
                            <strong>Service Unique ID</strong>: {{ bill.account.uniqueId }}
                        </div>
                        <div class="col-md-4" style="margin-top:1%;">
                            {% if bill.status == 2 %}<img src="{{ asset('/bundles/ezbills/images/paid.png') }}" style="opacity: 0.4; width: 35%; margin-left:30%; position: absolute; z-index: 0;" />{% endif %}
                            <center>
                                <span class="badge" align="center" style="font-size:24px;">Past Bill Amount: ${{ bill.amount }}</span><br><br>
                                <span class="badge" align="center" style="font-size:24px;">Amount: ${{ bill.amount }}</span><br>
                                {% if bill.details %}<br><strong>Note</strong>: {{ bill.details }}{% endif %}
                            </center>
                        </div>
                        <div class="col-md-4">
                            <div style="float:right;">
                                <div style="text-align:right;">
                                    Received Date: <a href="#">{{ bill.created|date("F d Y") }}</a><br>
                                    Due Date: <a href="#">{{ bill.due|date("F d Y") }}</a><br>
                                </div>
                                <br>
                                {% if bill.status < 2 %}
                                <center>
                                    <a href="http://{{ bill.account.service.provider.loginUrl }}" target="_new"><button type="button" class="btn btn-primary" style="margin: 5px; width:150px;"><span class="glyphicon glyphicon-piggy-bank"></span> Make Payment</button></a><br>
                                    <a href="{{ path('_bills_pay', { 'id': bill.id } ) }}"><button type="button" class="btn btn-success" style="margin: 5px; width:150px;"><span class="glyphicon glyphicon-ok-circle"></span> Mark as Paid</button></a>
                                </center>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% set first = true %}
    {% endfor %}
</div>
{% endblock %}